.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fdfdfd;
  margin-bottom: 10px;
  z-index: 999;
}
.header-ul {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0;
}
.header-h2 {
  font-family: monospace;
  font-size: 30px;
}
