
.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.total-price {
  text-align: right;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 1rem;
  font-size: 20px;
}

#alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999999999 !important;
  background: #ccc !important;
}