.products-container {
  width: 90%;
  margin: 7rem auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 0;
  gap: 1rem;
}
button {
  margin-top: 25px;
  margin-bottom: auto;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: rgba(21, 26, 42, 0.787);
}
.products-container li {
  padding: 0 0 1rem;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  border-radius: .3rem;
  overflow: hidden;
}
.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card > p {
  padding: 10px;
  font-size: 30px;
}
.products-container li:hover {
  box-shadow: 0px 8px 8px #ccc;
}

.orderBtn {
  width: 200px;
  background: orangered;
  border: none;
  cursor: pointer;
}
.orderBtn:hover {
  background: rgb(89, 0, 190);
}
